@import "tailwindcss";


html {
  scroll-behavior: smooth;
}


body {
  color: rgb(66, 65, 65);
  font-family: var(--font-google-sans);
}

.vertical {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  transform-origin: center;
}



